/* Override this file in your site to create any custom site-local CSS */

img {
    border: 0.5px solid #f5f5ec;
}

a img {
    text-decoration: none;
}

.marginnote, .sidenote, h1, h2, h3 {
    text-align: left;
}