/* Override this file in your site to create any custom site-local CSS */

a img {
  text-decoration: none;
}

.marginnote,
.sidenote,
h1,
h2,
h3,
figcaption {
  text-align: justify;
}

iframe {
  width: 87.5%;
}

/* Customize scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #fffff8;
}


figure.fullwidth {
  margin-bottom: 15px;
  }