---
layout: default
title: Code
full_width: true
---

<h1> Code </h1>

<ul>
{%- for project in site.projects -%}
  {% unless forloop.first %}
</ul>
  {% endunless %}
<ul class = "projects">
  <li>
    <p><a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a></p>
    <small><code>[{{ project.lang }}]</code> - {{ project.description }}</small>
  </li>
{%- if forloop.last %}
</ul>
{%- endif -%}
{% endfor %}

<style>
  /*
  ul.projects {
    list-style-type: none;
  }
    */

  small {
    color: #666;
    font-style: italic;
    width: 30%;
  }

  small code {
    font-style: normal;
  }

  p {
    margin: 20px 5px 0px 0px;
    font-size: larger;
  }

  .projects  {
    width: 50%;
  }

  @media (max-width: 760px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }
  }

</style>